*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2023/06/27/10/51/pier-8091934_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: auto;
    width: 350px;
    background: rgba(0,0,0,0.8);
    color:white;
    text-align: center;
    caret-color: red;
}

form label{
    margin: 10px;
}

form input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    margin: 10px;
    color: white;
}

form button{
    padding: 10px;
    width: 150px;
    background: orangered;
    border: 1px solid orangered;
    margin-bottom: 10px;
}


select{
    padding: 10px;
    width: 200px;
    margin-top: 10px;
}